# Node.js dependencies
node_modules/

# Cache / build files
.cache/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
config.env


# OS files
.DS_Store
Thumbs.db

node_modules/

